﻿@using RGCoaching.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RGCoachingDbContext Context

<partial name="Components/Slider" />

<section class="contact-form-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Title Column -->
            <div class="title-column col-lg-4 col-md-12 col-sm-12">
                <div class="inner-column">

                    <!-- Sec Title -->
                    <div class="sec-title">
                        <h2>CONTACT</h2>
                    </div>

                    <div class="text">N'hésitez pas à me faire part de vos besoins</div>
                </div>
            </div>

            <!-- Form Column -->
            <div class="form-column col-lg-8 col-md-12 col-sm-12">
                <div class="inner-column">

                    <!-- Default Form -->
                    <div class="default-form style-two">

                        <!-- Default Form -->
                        <form method="POST" action="Send">
                            <div class="row clearfix">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    @if (User.IsInRole("User"))
                                    {
                                        String userId = UserManager.GetUserId(User);
                                        Customer customer = Context.Customers.Single(c => c.User.Id == userId);

                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <h4>@customer.FirstName @customer.LastName</h4>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="hidden" name="Name" value="@customer.FirstName @customer.LastName">
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="hidden" name="Email" value="@User.Identity.Name">
                                        </div>
                                    }
                                    else if (User.IsInRole("Administrator"))
                                    {
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <h4>Administrateur</h4>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="Name" placeholder="Nom" required>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="email" name="Email" placeholder="Email" required>
                                    </div>
                                }

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <input type="text" name="Object" placeholder="Objet" required>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <textarea name="Text" placeholder="Votre message"></textarea>
                                </div>

                                <input type="hidden" name="EmailLu" value="True">
                                <input name="SendingDay" value="@DateTime.Now" type="hidden">

                                <div class="form-group clearfix col-lg-12 col-md-12 col-sm-12">
                                    <div class="btn-three-outer"><button class="theme-btn btn-style-three" type="submit" name="ENVOYER"><span class="txt">ENVOYER</span></button></div>
                                </div>
                            </div>
                        </form>
                        <!--End Default Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



