﻿@using RGCoaching.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RGCoachingDbContext Context

<partial name="Components/Slider" />

<div class="container text-center">
    <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
        <div class="sec-title">
            <h2>Merci pour votre message !</h2>
        </div>

        <div>
            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                <div class="btn-three-outer"><button class="theme-btn btn-style-three" type="submit" name="ENVOYER"><a href="Contact/"><span class="txt">ENVOYER UN NOUVEAU MESSAGE</span></button></div>
            </div>
        </div>
    </div>
</div>






