﻿@using RGCoaching.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RGCoachingDbContext Context

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RGCoaching</title>
    <link href="~/front/css/bootstrap.css" rel="stylesheet">
    <link href="~/front/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
    <link href="~/front/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="~/front/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
    <link href="~/front/css/style.css" rel="stylesheet">
    <link href="~/front/css/responsive.css" rel="stylesheet">
    <link href="~/front/css/color-switcher-design.css" rel="stylesheet">
    <link id="theme-color-file" href="~/front/css/color-themes/default-theme.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&amp;family=Roboto:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/front/images/favicon.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body class="hidden-bar-wrapper">
    <div class="page-wrapper">
        <div class="preloader"></div><!-- Preloader -->
        <header class="main-header header-style-one">
            <div class="header-top">
                <div class="outer-container">
                    <div class="clearfix">
                        <div class="top-left pull-left">
                        </div>

                        <div class="top-right pull-right">
                            <ul class="info-list">
                                <li style="color: black"><span class="icon fa fa-location-arrow"></span> Toulouse , France</li>
                                <li><span class="icon fa fa-phone"></span> <a href="tel:0610203040" style="color: black"> 06 10 20 30 40</a></li>
                                <li><span class="icon fa fa-envelope-o"></span> <a href="mailto:contact@rgc-coaching.com" style="color: black"> contact@rgc-coaching.com</a></li>

                                @if (SignInManager.IsSignedIn(User))
                                {
                                    @if (User.IsInRole("User"))
                                    {
                                        String userId = UserManager.GetUserId(User);
                                        Customer customer = Context.Customers.Single(c => c.User.Id == userId);
                                        <li><span class="icon fa fa-user"></span> <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color: black;">Bonjour @customer.FirstName !</a></li>
                                    }
                                    else if (User.IsInRole("Administrator"))
                                    {
                                        <li><span class="icon fa fa-user"></span> <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color: black;">Bonjour Administrateur !</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Upper -->
            <div class="header-upper">
                <div class="outer-container clearfix">
                    <div class="pull-left logo-box">
                        <div class="logo"><a asp-controller="Home" asp-action="Index"><img src="~/front/images/logotest.png" alt="" title=""></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="dropdown custom-dropdown-icon">
                                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        @foreach (Page pageItem in Context.Pages)
                                        {
                                            <li><a asp-controller="Pages" asp-action="ServePage" asp-route-url="@pageItem.Url">@pageItem.Name</a></li>
                                        }
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            <li><a href="/Admin/Pages/List">Administration</a></li>
                                        }
                                        else if (User.IsInRole("User"))
                                        {
                                            <li><a asp-controller="User" asp-action="Index">Profil</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </nav>

                        <!-- Main Menu End-->
                        <div class="outer-box clearfix">
                            <!-- Cart Box -->
                            <div class="cart-box">
                                @if (!SignInManager.IsSignedIn(User))
                                {
                                    <a class="cart-box-btn" asp-area="Identity" asp-page="/Account/Login"><span class="flaticon-user"></span></a>
                                }
                                else
                                {
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="cart-box-btn"><span class="flaticon-security"></span></button>
                                    </form>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--End Header Upper-->
            <!-- Sticky Header  -->
            <!-- Mobile Menu  -->
            <div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
                <nav class="menu-box">
                    <div class="nav-logo bg-dark"><a href="index-2.html"><img src="~/front/images/logotest.png" alt="" title=""></a></div>
                    <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                </nav>
            </div><!-- End Mobile Menu -->
        </header>


        @RenderBody()


        <!-- Main Footer -->
        <footer class="main-footer" style="background-image: url(~/front/images/background/2.jpg)">
            <div class="auto-container">
                <div class="footer-bottom">
                    <div class="copyright">Copyright 2020 Theme by Wild Code School</div>
                </div>
            </div>
        </footer>
    </div>

    <!--End pagewrapper-->
    <!-- Color Palate / Color Switcher -->
    <!-- End Header Search -->
    <!--Scroll to top-->

    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>



    <script src="~/front/js/jquery.js"></script>
    <script src="~/front/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/front/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/front/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/front/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/front/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/front/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/front/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/front/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/front/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/front/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/front/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/front/js/main-slider-script.js"></script>
    <script src="~/front/js/popper.min.js"></script>
    <script src="~/front/js/bootstrap.min.js"></script>
    <script src="~/front/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/front/js/jquery.fancybox.js"></script>
    <script src="~/front/js/appear.js"></script>
    <script src="~/front/js/parallax.min.js"></script>
    <script src="~/front/js/tilt.jquery.min.js"></script>
    <script src="~/front/js/jquery.paroller.min.js"></script>
    <script src="~/front/js/owl.js"></script>
    <script src="~/front/js/wow.js"></script>
    <script src="~/front/js/nav-tool.js"></script>
    <script src="~/front/js/jquery-ui.js"></script>
    <script src="~/front/js/script.js"></script>
    <script src="~/front/js/color-settings.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIJ_QKHN-bi6_1C9f5eYE3pZs1zhQIo5o"></script>
    <script src="~/front/js/map-script.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
