﻿
@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RGCoaching</title>

        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
        <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/authentication/form-1.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
        <link rel="stylesheet" type="text/css" href="~/assets/css/forms/switches.css">
</head>

<body>
    @RenderBody()

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
        <script src="~/assets/bootstrap/js/popper.min.js"></script>
        <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/assets/js/authentication/form-1.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
