﻿@using RGCoaching.Models;
@model Block;

@{
    ViewData["Title"] = "Admin - Blocs - Edition";
    if (Model.BlockId == Guid.Empty)
    {
      ViewData["PageName"] = "Nouveau bloc";
    }
    else
    {
      ViewData["PageName"] = "Edition du bloc \"" + Model.Name + "\"";
    }
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
  <form asp-area="Admin" asp-controller="Blocks" asp-action="PostEdit">
    <div class="form-group">
      <label for="block-name">Nom</label>
      <input asp-for="Name" id="block-name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="page-url">Contenu</label>
      <textarea asp-for="Html" id="block-html"></textarea>
    </div>
    <input type="hidden" asp-for="BlockId" />

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Page</th>
          <th>Ordre</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (Model.PageBlocks != null)
        {
          <tr>
            @foreach (PageBlock pageBlock in Model.PageBlocks)
            {
              <td>@pageBlock.Order</td>
              <td>@pageBlock.Block.Name</td>
              <td><a asp-area="Admin" asp-controller="BlockPages" asp-action="Delete" asp-route-pageBlockId="@pageBlock.PageBlockId"></a><i class="fa fa-trash"></i></td>
            }
          </tr>
        }
        <tr>
          <td colspan="3" class="text-center"><a asp-area="Admin" asp-controller="PageBlocks" asp-action="GetEdit" asp-route-blockId="@Model.BlockId"><i class="fa fa-plus"></i></a></td>
        </tr>
    </table>
    <input class="btn btn-success mb-2" type="submit" value="Sauvegarder" />
  </form>

</div>

<script src="~/assets/js/ckeditor/ckeditor.js"></script>
<script>
  ClassicEditor
    .create(document.querySelector('#block-html'))
    .catch(error => {
      alert("Il y a eu une erreur lors de l'édition" + error);
    });
</script>


@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
