﻿@using RGCoaching.Models;
@model IQueryable<Block>

@{
    ViewData["Title"] = "Admin - Blocs - Liste";
    ViewData["PageName"] = "Liste des blocs";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-hover">
  <thead>
    <tr>
      <td scope="col" class="font-weight-bold">Nom</td>
      <td scope="col" class="font-weight-bold">Actions</td>
    </tr>
  </thead>
  <tbody>
    @foreach (Block block in Model)
    {
      <tr>
        <td class="align-middle">@block.Name</td>
        <td class="align-middle">
        <a asp-area="Admin" asp-controller="Blocks" asp-action="GetEdit" asp-route-blockId="@block.BlockId" class="btn btn-primary waves-effect waves-light"><i class="fa fa-pencil"></i></a>
        <a asp-area="Admin" asp-controller="Blocks" asp-action="Delete" asp-route-blockId="@block.BlockId" class="btn btn-danger waves-effect waves-light"><i class="fa fa-trash"></i></a></td>
      </tr>
    }
    <tr>
      <td colspan="2" class="text-center"><a asp-area="Admin" asp-controller="Blocks" asp-action="GetEdit"><i class="fa fa-plus"></i></a></td>
    </tr>
  </tbody>
</table>  
