﻿@using RGCoaching.ViewModels;
@using RGCoaching.Models;
@model ProgramCreateViewModel
@inject RGCoachingDbContext Context

@{
    ViewData["Title"] = "Admin - Programmes - Edition";
    ViewData["PageName"] = "Nouveau programme";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<form asp-area="Admin" asp-controller="Programs" asp-action="PostEdit"
      enctype="multipart/form-data" class="container">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Attribuer le programme :</label>
        <div class="col-sm-10">
            <select asp-for="Customer.CustomerId" class="custom-select mr-sm-2">
                <option>Sélectionner le client</option>
                @foreach (Customer customer in Context.Customers)
                {
                    <option value="@customer.CustomerId">@customer.LastName @customer.FirstName</option>
                }
            </select>
            <span asp-validation-for="Customer" class="text-danger">Champ obligatoire</span>
        </div>
    </div>

    <div class="form-group row">
        <input type="hidden" asp-for="ProgramId" />
        <label asp-for="Cycle" class="col-sm-2 col-form-label">Cycle :</label>
        <div class="col-sm-10">
            <input asp-for="Cycle" class="form-control" placeholder="Cycle">
            <span asp-validation-for="Cycle" class="text-danger">Champ obligatoire</span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="BeginDate" class="col-sm-2 col-form-label">Date de début :</label>
        <div class="col-sm-10">
            <input asp-for="BeginDate" class="form-control datepicker" id="date" placeholder="Sélectionner la date de début">
            <span asp-validation-for="BeginDate" class="text-danger">Champ obligatoire</span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="EndDate" class="col-sm-2 col-form-label">Date de fin :</label>
        <div class="col-sm-10">
            <input asp-for="EndDate" class="form-control datepicker" id="date" placeholder="Sélectionner la date de fin">
            <span asp-validation-for="EndDate" class="text-danger">Champ obligatoire</span>
        </div>
    </div>

    @*Ajout d'un programme - 1er document*@
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label">Nom du programme :</label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Nom du document">
            <span asp-validation-for="Name" class="text-danger">Champ obligatoire</span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Document" class="col-sm-2 col-form-label">Pièce jointe :</label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Document" class="form-control custom-file-input">
                <label class="custom-file-label text-primary">Sélectionner le document</label>
                <span asp-validation-for="Document" class="text-danger">Champ obligatoire</span>
            </div>
        </div>
    </div>

    @*Ajout d'un programme - 2ème document*@
    <div class="form-group row">
        <label asp-for="Name2" class="col-sm-2 col-form-label">Nom du programme :</label>
        <div class="col-sm-10">
            <input asp-for="Name2" class="form-control" placeholder="Nom du document">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Document2" class="col-sm-2 col-form-label">Pièce jointe :</label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Document2" class="form-control custom-file-input">
                <label class="custom-file-label text-primary">Sélectionner le document</label>
            </div>
        </div>
    </div>

    @*Ajout d'un programme - 3ème document*@
    <div class="form-group row">
        <label asp-for="Name3" class="col-sm-2 col-form-label">Nom du programme :</label>
        <div class="col-sm-10">
            <input asp-for="Name3" class="form-control" placeholder="Nom du document">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Document3" class="col-sm-2 col-form-label">Pièce jointe :</label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Document3" class="form-control custom-file-input">
                <label class="custom-file-label text-primary">Sélectionner le document</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 text-center px-0">
            <button type="submit" class="btn btn-primary mb-2 AjouterPage">Envoyer le programme</button>
        </div>
        <div class="col-md-6 text-center px-0">
            <a asp-area="Admin" asp-controller="Programs" asp-action="List" class="btn btn-warning mb-2">Retour aux programmes</a>
        </div>
    </div>

    @section Scripts {
            <script>
                //Importation du nom du document dans le champs de téléchargement
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split('\\').pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });

                //Format en français pour les input de date
                (function ($) {
                    $.fn.datepicker.dates['fr'] = {
                        days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                        daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                        daysMin: ["d", "l", "ma", "me", "j", "v", "s"],
                        months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                        monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                        today: "Aujourd'hui",
                        monthsTitle: "Mois",
                        clear: "Effacer",
                        weekStart: 1,
                        format: "dd/mm/yyyy"
                    };
                }(jQuery));

                $('.datepicker').datepicker({
                    language: 'fr',
                    autoclose: true,
                    todayHighlight: true
                })
            </script>
        }

</form>
