﻿@using RGCoaching.Models;
@model IQueryable<RGCoaching.Models.Program>

@{
    ViewData["Title"] = "Admin - Programmes - Liste";
    ViewData["PageName"] = "Liste des programmes";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container content-column col-lg-12 col-md-12 col-sm-12">
    <input class="form-control mt-4" id="myInput" type="text" placeholder="Rechercher un client">
    <br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Client</th>
                <th class="text-center" scope="col">Cycle</th>
                <th class="text-center" scope="col">Date de début</th>
                <th class="text-center" scope="col">Date de fin</th>
                <th class="text-center" scope="col">Documents</th>
                <th class="text-center" scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (RGCoaching.Models.Program program in Model)
            {
              <tr data-id="@program.ProgramId">
                <td class="align-middle">@program.Customer.LastName @program.Customer.FirstName</td>
                <td class="align-middle text-center">@program.Cycle</td>
                <td class="align-middle text-center">@program.BeginDate</td>
                <td class="align-middle text-center">@program.EndDate</td>
                <td class="align-middle text-center">
                    <ul class="list-unstyled mb-0">
                        <li><a href="~/documents/@program.DocumentPath">@program.Name</a></li>
                        <li><a href="~/documents/@program.DocumentPath2">@program.Name2</a></li>
                        <li><a href="~/documents/@program.DocumentPath3">@program.Name3</a></li>
                    </ul>
                </td>
                <td class="align-middle">
                    <a asp-area="Admin" asp-controller="Programs" asp-action="Delete" asp-route-programId="@program.ProgramId" class="btn btn-danger waves-effect waves-light"><i class="fa fa-trash mr-1"></i></a>
                </td>
            </tr>
            }
            <tr>
                <td colspan="7" class="text-center"><a asp-area="Admin" asp-controller="Programs" asp-action="GetEdit"><i class="fa fa-plus"></i></a></td>
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        //Recherche de client par nom
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}










