﻿@using RGCoaching.Models;
@model Contact;

@{
    ViewData["Title"] = "Admin - Pages - Liste";
    ViewData["PageName"] = "";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <a asp-area="Admin" asp-controller="MailBox" asp-action="Index" class="btn btn-warning waves-effect waves-light mt-3">
                    <i class="fa fa-angle-double-left mr-1"></i> Retour</a>
                    <a href="mailto:@Model.Email" class="btn btn-success waves-effect waves-light mt-3"><i class="fa fa-send mr-1"></i> Repondre</a>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card shadow-none mt-3 border border-light">
                                <div class="card-body">
                                    <div class="media mb-3">
                                        <div class="media-body">
                                            <span class="media-meta float-right">@Model.SendingDay</span>
                                            <h4 class="text-primary m-0">@Model.Name</h4>
                                            <small class="text-muted">de : @Model.Email</small>
                                        </div>
                                    </div> 
                                    <p><b>@Model.Object</b></p>
                                    <p>@Model.Text</p>
                                    <hr>
                                    <div class="text-right">
                                        <a asp-area="Admin" asp-controller="MailBox" asp-action="DeleteMail" asp-route-contactId="@Model.ContactId" class="btn btn-danger waves-effect waves-light mt-3"><i class="fa fa-trash mr-1"></i> Supprimer</a>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

