﻿@using RGCoaching.Models;
@model IQueryable<Contact>

@{
    ViewData["Title"] = "Admin - Messages- Liste";
    ViewData["PageName"] = "Liste des messages";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    string lecture = "class=font-weight-bold";
}


<div class="container content-column col-lg-12 col-md-12 col-sm-12">
    <input class="form-control mt-4" id="myInput" type="text" placeholder="Rechercher un client">
    <br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Nom</th>
                <th scope="col">Objet</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (Contact mail in Model)
            {
                <tr @if (@mail.EmailLu) { @lecture }>

                    <td class="align-middle">@mail.Email</td>
                    <td class="align-middle">@mail.Name</td>
                    <td class="align-middle">@mail.Object </td>
                    <td class="align-middle">@mail.SendingDay</td>
                    <td>
                        <a asp-area="Admin" asp-controller="MailBox" asp-action="GetMailEdit" asp-route-contactId="@mail.ContactId" class="btn btn-primary waves-effect waves-light"><i class="fa fa fa-envelope-o"></i></a>
                        <a asp-area="Admin" asp-controller="MailBox" asp-action="DeleteMail" asp-route-contactId="@mail.ContactId" class="btn btn-danger waves-effect waves-light"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
 
@section Scripts {
    <script>
        //Recherche de client par nom
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}


