﻿@using RGCoaching.Models
@inject RGCoachingDbContext Context
@model PageBlock

@{
  ViewData["Title"] = "Admin - Blocs - Edition";
  ViewData["PageName"] = "Association d'un bloc";
  Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
  <form asp-area="Admin" asp-controller="PageBlocks" asp-action="PostEdit">
    <div class="form-group">
      <label for="page-select">Page</label>
      <select asp-for="Page.PageId" id="page-select" class="form-control">
        @foreach (Page pageItem in Context.Pages)
        {
          <option value="@pageItem.PageId">@pageItem.Name</option>
        }
      </select>
    </div>
    <div class="form-group">
      <label for="block-name">Block</label>
      <select asp-for="Block.BlockId" id="block-select" class="form-control">
        @foreach (Block blockItem in Context.Blocks)
        {
          <option value="@blockItem.BlockId">@blockItem.Name</option>
        }
      </select>
    </div>
    <div class="form-group">
      <label for="page-url">Ordre</label>
      <input asp-for="Order" type="number" id="order-input" class="form-control"/>
    </div>
    <input type="hidden" asp-for="PageBlockId" />
    <input class="btn btn-success mb-2" type="submit" value="Sauvegarder" />
  </form>
</div>