﻿@using RGCoaching.Models;
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore;
@model Customer 

@{
    ViewData["Title"] = "User Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="Components/Slider" />


<div class="container row justify-content-center col-12 mx-0 py-4">
    <div class="card col-xl-3 col-lg-6 col-md-5 col-sm-12 mx-2 shadow p-3 mb-5 bg-white rounded">
        <div class="card-head d-flex justify-content-between">
            <h5 class="font-weight-bold text-dark">Mes données personnelles</h5>
            <button class="btn btn-primary waves-effect waves-light" type="button" data-toggle="modal" data-target="#exampleModalLong1"><i class="fa fa fa-pencil-square-o"></i></button>

            <!-- BEGIN Modal -->
            <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-dark" id="exampleModalLongTitle">Modifier mes données personnelles</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="/User/Update">
                            <input type="hidden" asp-for="CustomerId" />
                            <input type="hidden" asp-for="User.Id" />
                            <input type="hidden" asp-for="Email" />
                            <input type="hidden" asp-for="LastName" />
                            <input type="hidden" asp-for="FirstName" />
                            <input type="hidden" asp-for="BirthDate" />

                            <div class="clearfix px-2 py-3">
                                <input class="col-lg-12 col-md-12 col-sm-12 form-group" type="text" asp-for="Adress1" placeholder="Adresse 1">
                                <input class="col-lg-12 col-md-12 col-sm-12 form-group" type="text" asp-for="Adress2" placeholder="Adresse 2">
                                <input class="col-lg-12 col-md-12 col-sm-12 form-group" type="text" asp-for="PostCode" placeholder="Code Postal">
                                <input class="col-lg-12 col-md-12 col-sm-12 form-group" type="text" asp-for="City" placeholder="Ville">
                                <input class="col-lg-12 col-md-12 col-sm-12 form-group" type="text" asp-for="Phone" placeholder="Téléphone">
                                <input class="col-lg-12 col-md-12 col-sm-12 form-group" type="text" asp-for="Job" placeholder="Profession">

                                <div class="form-group clearfix col-lg-12 col-md-12 col-sm-12 text-center">
                                    <div class="btn-three-outer"><button class="theme-btn btn-style-three" type="submit" name="MODIFIER"><span class="txt">ENREGISTRER</span></button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--END Modal -->
        </div>
        <div class="card-body text-center">
            @*<img class="img-thumbnail w-25 my-5" src="~/front/images/user.png">*@
            <p class="font-weight-bold text-warning h5"> @Model.FirstName @Model.LastName</p>
            <div class="user-info-list text-center mt-3">
                <ul class="list-unstyled">
                    <li class="pt-1">@Model.Job</li>
                    <li class="pt-1">@Model.BirthDate</li>
                    <li class="pt-1">@Model.City</li>
                    <li class="pt-1">@User.Identity.Name</li>
                    <li class="pt-1">@Model.Phone</li>
                </ul>
            </div>
        </div>
    </div>

      
    <div class="programs card col-xl-8 col-lg-6 col-md-7 col-sm-12 mx-2 shadow p-3 mb-5 bg-white rounded">
        <h4 class="font-weight-bold text-dark text-">Mes programmes</h4>

        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th class="text-center">Cycle</th>
                    <th class="text-center">Date de début</th>
                    <th class="text-center">Date de fin</th>
                    <th class="text-center">Programmes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (RGCoaching.Models.Program program in Model.Programs)
                {
                    <tr data-id="@program.ProgramId">
                        <td class="text-center">@program.Cycle</td>
                        <td class="text-center">@program.BeginDate</td>
                        <td class="text-center">@program.EndDate</td>
                        <td class="text-center">
                            <ul class="list-unstyled mb-0">
                                <li><a href="~/documents/@program.DocumentPath">@program.Name</a></li>
                                <li><a href="~/documents/@program.DocumentPath2">@program.Name2</a></li>
                                <li><a href="~/documents/@program.DocumentPath3">@program.Name3</a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>  