﻿<section class="about-section pt-2">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="red-text">Activités sportives pratiquées</div>
                    <div class="text text-justify">
                        <ul class="competences-list">
                            <li>- Sports de combats : Boxe / Judo / Jujitsu</li>
                            <li>- Force / Musculation / Haltérophilie / Functional Training</li>
                            <li>- Athlétisme / Course à pied / Marathon</li>
                            <li>- Ski / Snowboard / Wakeboard</li>
                            <li>- Randonnée / Trail</li>
                            <li>- Pilates / Yoga</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>