﻿<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">



            <!-- Content Column -->

            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="title">Faisons connaissance</div>
                        <h2>Mon Parcours</h2>
                    </div>

                    <div class="red-text">Garder la forme avec votre coach sportif</div>

                    <div class="content text text-justify">
                        Après 11 ans dans l’Armée de Terre, j’ai décidé de me consacrer exclusivement à ma passion : le sport ! Depuis l’enfance, j’ai le goût du dépassement de soi et j’aime accompagner mes équipiers dans l’atteinte de leurs objectifs.
                    </div>
                    <div class="content text text-justify">
                        Ayant parcouru la France et une partie du monde, j’ai décidé de m’installer à Toulouse, ma ville de naissance, pour y lancer mon activité de coach sportif.
                    </div>
                    <div class="content text text-justify">
                        Diplômé du CREPS à Toulouse, je suis un entraîneur sportif attentif à votre intégrité physique. Je veille notamment à ce que vous conserviez la bonne posture pour que le coaching soit un plaisir et que vous puissiez atteindre vos objectifs en toute sécurité.
                    </div>
                    <div class="content text text-justify">
                        Habitant dans le secteur de la Côte Pavée, à proximité de la place Dupuy, j’interviens souvent dans ce quartier pour des coachings personnalisés à domicile mais je me déplace également dans toute l’agglomération toulousaine.
                    </div>
                    <div class="content text text-justify font-weight-bold font-italic">
                        « Mon approche est sérieuse et précise. En tant que votre coach sportif, ma priorité est de vous accompagner pour que votre pratique sportive soit un plaisir et vous permettre d’atteindre vos objectifs. »
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="~/front/images/romain.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>