﻿<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="title">Faisons connaissance</div>
                        <h2>Mes bootcamps</h2>
                    </div>

                    <div class="red-text">Garder la forme avec votre coach sportif</div>

                    <div class="text text-justify">
                        Le Bootcamp est une méthode d'entraînement initialement développée par l’Armée américaine pour les Marines. Il se pratique généralement en groupe et en extérieur. L’intensité physique des activités varient et la cohésion du groupe permet de se dépasser.
                    </div>
                    <div class="text text-justify">
                        Ma vision du Bootcamp se veut fidèle à son objectif initial. Ayant moi-même pratiqués de nombreux stages commandos au sein de l’Armée de Terre, je souhaite transposer cette expérience en la rendant accessible à tous !
                    </div>
                    <div class="text text-justify">
                        Au-delà de la dépense physique, ce type d'entraînement permet individuellement de tester ses limites et de gagner en confiance en soi. Pour un groupe, il développe l’esprit d’équipe et permet de se challenger.
                    </div>
                    <div class="text text-justify">
                        Dans mes Bootcamps, venez redécouvrir les valeurs de cohésion et de dépassement de soi !
                    </div>
                    <div class="text text-justify">
                        Vous pourrez découvrir mes prochains Bootcamps à Toulouse sur ma page Facebook !
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="~/front/images/romain.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>