﻿<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="title">Faisons connaissance</div>
                        <h2>Mon Coaching</h2>
                    </div>

                    <div class="red-text">Garder la forme avec votre coach sportif</div>

                    <div class="text text-justify">
                        Le terme « coach » provient en réalité du français, « cocher ». Initialement, le cocher est une personne qui conduit les voyageurs d’un point à un autre. Je suis attaché à cette racine qui rappelle, qu’en tant que coach sportif, nous sommes présents pour vous conduire vers votre but.
                    </div>
                    <div class="text text-justify">
                        Coach sportif diplômé, je propose mon accompagnement à domicile, sur votre lieu de travail ou en salle de remise en forme.
                    </div>
                    <div class="text text-justify">
                        Ma vision du coaching consiste en un véritable partenariat : vous vous engagez d’abord envers vous à atteindre vos objectifs et je vous apporte ma motivation dans une démarche d’écoute et d’échange. Pour réussir ensemble, je vous fournis les conseils et les stratégies les plus adaptés à vos besoins pour une progression régulière.
                    </div>
                    <div class="text text-justify">
                        A Toulouse, je propose un coaching personnalisé de débutant à expert, en gardant toujours en tête l’amélioration de vos performances jusqu’à votre objectif !
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="~/front/images/romain.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>