﻿<section class="about-section pt-2">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="red-text">Mes domaines de compétences</div>
                    <div class="text text-justify">
                        <ul class="competences-list">
                            <li>- Coaching personnalisé /groupes</li>
                            <li>- Perte de poids</li>
                            <li>- Musculation</li>
                            <li>- Haltérophilie</li>
                            <li>- Pilates</li>
                            <li>- Stretching</li>
                            <li>- Re-athlétisation</li>
                            <li>- Préparation physique</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>