﻿<section class="about-section pt-2">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="red-text">Conditions requises</div>
                    <div class="text text-justify">
                        <ul class="condition-list">
                            <li>- Avoir 18 ans ou plus</li>
                            <li>- Posséder un certificat médical de non contre-indication à la pratique physique</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
