﻿<section class="about-section pt-2">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="red-text">Diplômes et certifications</div>

                    <div class="text text-justify">
                        <ul class="competences-list">
                            <li>-  BPJEPS AF : Haltérophilie, Musculation / Cours collectifs</li>
                            <li>- DEJEPS HMDA : En cours</li>
                            <li>- Certifié Bodypump / Rpm / Bodybalance /Hbx move fusion</li>
                            <li> Certifié Pilates</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>