﻿<section class="contact-map-section">

     
    <div class="map-boxed">

        
        <div class="map-outer">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.215752356614!2d1.4399023154960826!3d43.6020491791231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb62f586ccfb%3A0x259df685489ce7c0!2s13%20Rue%20Sainte-Ursule%2C%2031000%20Toulouse!5e0!3m2!1sfr!2sfr!4v1608282181367!5m2!1sfr!2sfr" height="550"></iframe>
        </div>
    </div>

    <div class="auto-container">
        <div class="map-info-boxed">
            <div class="clearfix">

                 
                <div class="image-column col-lg-1 col-md-1 col-sm-1">
                    
                </div>

                <!-- Column -->
                <div class="info-column col-lg-11 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <ul>
                            <li>
                                <span class="icon flaticon-location-2"></span>
                                <strong>Adresse</strong>
                                13 Rue Sainte-Ursule, 31000 Toulouse
                            </li>
                            <li>
                                <span class="icon flaticon-call-2"></span>
                                <strong>Contact</strong>
                                <a href="tel:+1-044-123-456-789">06 71 03 70 01</a>
                            </li>
                            <li>
                                <span class="icon flaticon-email-1"></span>
                                <strong>Email</strong>
                                <a href="mailto:info@example.com">contact@rgc-coaching.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>