﻿<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="title">Faisons connaissance</div>
                        <h2>Ma méthode</h2>
                    </div>

                    <div class="red-text">Garder la forme avec votre coach sportif</div>

                    <div class="text text-justify">
                        Mon accompagnement de coach sportif comporte plusieurs étapes :
                        Nous effectuons ensemble un bilan pour établir votre profil sportif, vos envies et vos besoins.
                        Je vous soumets ensuite un programme sportif sur mesure, incluant un rééquilibrage alimentaire et des méthodes d’entraînements ciblées selon vos besoins. Ce coaching sportif tient compte de votre personnalité pour maintenir votre implication.
                        Nous nous voyons régulièrement à domicile ou sur votre lieu de travail. Vous n’avez qu’à prévoir votre tenue de sport, je mets à votre disposition tout le matériel nécessaire à votre entraînement.
                        Périodiquement, nous faisons ensemble le bilan pour faire évoluer le programme et prendre en compte vos prochains objectifs.
                    </div>
                    <div class="text text-justify">
                        A Toulouse, j’accompagne des hommes et des femmes dans des objectifs variés : la perte de poids, la prise de masse musculaire, la performance sportive, la réathlétisation… Je prends également en charge la préparation physique et mentale aux concours : Armées / Police / Pompiers / CREPS.
                    </div>
                    <div class="text text-justify">
                        En tant que coach sportif, les piliers de mon accompagnement sont la qualité, la bienveillance, l’écoute et l’adaptation.
                    </div>
                    <div class="text text-justify">
                        Compétiteur depuis l’enfance et à l’écoute des nouvelles technologies, la performance me tient à cœur. Je vous propose des outils et techniques d’entraînement efficients et sans cesse remis en question pour rester à la pointe !
                    </div>
                    <div class="text text-justify">
                        Me choisir, c’est choisir un coaching sportif personnalisé où seront assurés l’expertise, la méthode et la motivation pour atteindre votre but.
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="~/front/images/romain.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>