﻿<section class="about-section pt-5">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <h2>Tarifs</h2>
                    </div>

                    <div class="red-text">COACHING</div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">1 séance /1 heure</th>
                                <th scope="col">10 séances</th>
                                <th scope="col">20 séances</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">SOLO</th>
                                <td>60€ TTC</td>
                                <td>550€ TTC</td>
                                <td>1000€ TTC</td>

                            </tr>
                            <tr>
                                <th scope="row">DUO</th>
                                <td>80€ TTC</td>
                                <td>750€ TTC</td>
                                <td>1 400€ TTC</td>
                            </tr>
                            <tr>
                                <th scope="row">TRIO</th>
                                <td>105€ TTC</td>
                                <td>999€ TTC</td>
                                <td>1900€ TTC</td>
                            </tr>
                            <tr>
                                <th scope="row">GROUPE / C.E.</th>
                                <td>90€ TTC</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="red-text mt-5">MUSCULATION / NUTRITION à distance</div>

                    <table class="table table-bordered mb-5">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Mensuel</th>
                                <th scope="col">6 mois</th>
                                <th scope="col">12 mois</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">PROGRAMME MUSCULATION</th>
                                <td>60€ / MOIS TTC</td>
                                <td>50€ / MOIS TTC</td>
                                <td>40€ / MOIS TTC</td>

                            </tr>
                            <tr>
                                <th scope="row">PROGRAMME MUSCULATION + SUIVI ALIMENTAIRE</th>
                                <td>120€ / MOIS TTC</td>
                                <td>90€ / MOIS TTC</td>
                                <td>80€ / MOIS TTC</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
