﻿@using RGCoaching.Models;
@model Page;

@{
    ViewData["Title"] = "Admin - Pages - Edition";
    if (Model.PageId == Guid.Empty)
    {
      ViewData["PageName"] = "Nouvelle page";
    }
    else
    {
      ViewData["PageName"] = "Edition de la page \"" + Model.Name + "\"";
    }
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
  <form asp-area="Admin" asp-controller="Pages" asp-action="PostEdit">
    <div class="form-group">
      <label for="page-name">Nom</label>
      <input asp-for="Name" id="page-name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="page-url">URL</label>
      <input asp-for="Url" id="page-url" class="form-control" />
    </div>
    <input type="hidden" asp-for="PageId" />

    @if (Model.PageBlocks == null)
    {
      <div class="alert alert-warning">
        <div class="row">
          <div class="d-flex mr-3">
            <i class="fa fa-warning fa-4x"></i>
          </div>
          <div class="d-flex text-align-center content-justify-center">
            <div class="row">
              Aucun bloc associé à la page
              <br />
            </div>
          </div>
        </div>

      </div>
    }
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Ordre</th>
          <th>Nom</th>
        </tr>
      </thead>
      <tbody>
          @if (Model.PageBlocks != null)
          {
              @foreach (PageBlock pageBlock in Model.PageBlocks)
              {
                  <tr>
                      <td>@pageBlock.Order</td>
                      <td>@pageBlock.Block.Name</td>
                  </tr>
              }
          }
            <tr>
                <td colspan="3" class="text-center"><a asp-area="Admin" asp-controller="Blocks" asp-action="GetEdit"><i class="fa fa-plus"></i></a></td>
            </tr>
          </tbody>
    </table>

    <input class="btn btn-success mb-2" type="submit" value="Sauvegarder" />
  </form>

</div>
@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
