﻿@using RGCoaching.Models;
@model IQueryable<Page>

@{
    ViewData["Title"] = "Admin - Pages - Liste";
    ViewData["PageName"] = "Liste des pages";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Url</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Page pagesite in Model)
    {
      <tr>
        <td class="align-middle">@pagesite.Name</td>
        <td class="align-middle">
          @pagesite.Url
        </td>
        <td class="align-middle">
            <a asp-area="Admin" asp-controller="Pages" asp-action="GetEdit" asp-route-pageId="@pagesite.PageId" class="btn btn-primary waves-effect waves-light"><i class="fa fa-pencil"></i></a>
            <a asp-area="Admin" asp-controller="Pages" asp-action="Delete" asp-route-pageId="@pagesite.PageId" class="btn btn-danger waves-effect waves-light"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    }
    <tr>
      <td colspan="3" class="text-center"><a asp-area="Admin" asp-controller="Pages" asp-action="GetEdit"><i class="fa fa-plus"></i></a></td>
    </tr>
  </tbody>
</table>
