﻿@page
@model LoginModel

@{
    ViewData["Title"] = "RG COACHING";
}




<div class="form-container">
    <div class="form-form">
        <div class="form-form-wrap">
            <div class="form-container">
                <div class="form-content">

                    <h1 class=""><a href="/index"><span class="brand-name">@ViewData["Title"]</span></a></h1>
                    @*<p class="signup-link">New Here? <a href="auth_register.html">Create an account</a></p>*@
                    <form id="account" method="post" class="text-left">
                        <div class="form">

                            <div id="username-field" class="field-wrapper input">
                               
                                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div id="password-field" class="field-wrapper input mb-2">
                                
                                <input asp-for="Input.Password" id="password" class="form-control" placeholder="Password">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="d-sm-flex justify-content-between">
                                <div class="field-wrapper toggle-pass">
                                    <p class="d-inline-block">Show Password</p>
                                    <label class="switch s-primary">
                                        <input type="checkbox" id="toggle-password" class="d-none">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="field-wrapper">
                                    <button type="submit" class="btn btn-primary">Connexion</button>
                                </div>

                            </div>

                            <div class="field-wrapper">
                                <a id="forgot-password" asp-page="./ForgotPassword">Mot de passe oublié?</a>
                                <a href="auth_pass_recovery.html" class="forgot-pass-link">Mot de passe oublié?</a>
                            </div>

                        </div>
                    </form>
                    @*<p class="terms-conditions">© 2020 All Rights Reserved By  <a href="https://toulouse.in">Toulouse.in</a>*@ 

                </div>
            </div>
        </div>
    </div>
    <div class="form-image">
        <div class="l-image">
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
