﻿﻿@using RGCoaching.Models;
@model RGCoaching.Models.Customer
@inject RGCoaching.RGCoachingDbContext Context


@{ ViewData["Title"] = "Admin - Clients - Edition";
    ViewData["PageName"] = "Nouveau client";
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }


<form class="container" asp-area="Admin" asp-controller="Client" asp-action="PostEdit">

    <div class="form-group row">
        <input asp-for="CustomerId" class="form-control" type="hidden" />
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Prénom :</label>
        <div class="col-sm-10">
            <input asp-for="FirstName" class="form-control" type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">NOM :</label>
        <div class="col-sm-10">
            <input asp-for="LastName " class="form-control" type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date de naissance</label>
        <div class="col-sm-10">
            <input asp-for="BirthDate" class="form-control" type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Adresse :</label>
        <div class="col-sm-10">
            <input asp-for="Adress1" class="form-control" type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Complément d'adresse :</label>
        <div class="col-sm-10">
            <input asp-for="Adress2" class="form-control" type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Code postal :</label>
        <div class="col-sm-10">
            <input asp-for="PostCode" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ville :</label>
        <div class="col-sm-10">
            <input asp-for="City" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email :</label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Téléphone :</label>
        <div class="col-sm-10">
            <input asp-for="Phone" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Profession :</label>
        <div class="col-sm-10">
            <input asp-for="Job" class="form-control" type="text" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12 text-center px-0">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </div>
</form>
