﻿@using RGCoaching.Models;
@inject RGCoaching.RGCoachingDbContext Context

@{ ViewData["Title"] = "Admin - Clients - Liste";
    ViewData["PageName"] = "Liste des clients";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }


<div class="container content-column col-lg-12 col-md-12 col-sm-12">
    <input class="form-control mt-4" id="myInput" type="text" placeholder="Rechercher un client">
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Anniversaire</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Email</th>
                <th scope="col">Emploi</th>
                <th scope="col">Ville</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (Customer customer in (Context.Customers))
            {
                <tr>
                    <td class="align-middle">@customer.LastName</td>
                    <td class="align-middle">@customer.FirstName</td>
                    <td class="align-middle">@customer.BirthDate</td>
                    <td class="align-middle">@customer.Phone</td>
                    <td class="align-middle">
                        <a href="mailto:@customer.Email" class="text-primary">@customer.Email</a>
                    </td>
                    <td class="align-middle">@customer.Job</td>
                    <td class="align-middle">@customer.City</td>
                    <td class="align-middle">
                        <a asp-area="Admin" asp-controller="Client" asp-action="PostEdit" asp-route-customerId="@customer.CustomerId" class="btn btn-primary waves-effect waves-light"><i class="fa fa-pencil"></i></a>
                        <a asp-area="Admin" asp-controller="Client" asp-action="Delete" asp-route-customerId="@customer.CustomerId" class="btn btn-danger waves-effect waves-light"><i class="fa fa-trash"></i></a>
                    </td>

                </tr>
            }
            <tr>
                <td colspan="8" class="text-center"><a asp-area="Admin" asp-controller="Client" asp-action="PostEdit"><i class="fa fa-plus"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    //Recherche de client par nom
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
