﻿@using RGCoaching.Models;
@model Page

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="Components/Slider" />

<div class="content">
  @if (Model.PageBlocks != null)
  {
    @foreach (PageBlock pageBlock in Model.PageBlocks.OrderBy(pb => pb.Order))
    {
      <div class="block">
        @Html.Raw(pageBlock.Block.Html)
      </div>
    }
  }
</div>




